<ol class="news-list">
  {% for item in site.data.news %}
  <li>
    <time class="news-date" datetime="{{ item.date }}"><span data-lang="en" lang="en">{{ item.date_en }}</span><span data-lang="zh" lang="zh-CN">{{ item.date_zh }}</span></time>
    <div class="news-content">
      {% if item.title_en %}<h3><span data-lang="en" lang="en">{{ item.title_en }}</span><span data-lang="zh" lang="zh-CN">{{ item.title_zh }}</span></h3>{% endif %}
      <p data-lang="en" lang="en">{{ item.text_en }}</p>
      <p data-lang="zh" lang="zh-CN">{{ item.text_zh }}</p>
      {% if item.resources %}
      <ul class="news-resources">
        {% for resource in item.resources %}<li><a href="{{ resource.url }}"><span data-lang="en" lang="en">{{ resource.title_en }}</span><span data-lang="zh" lang="zh-CN">{{ resource.title_zh }}</span></a></li>{% endfor %}
      </ul>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ol>
