---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body{% if page.homepage %} class="homepage"{% endif %}>

    <a class="skip-to-content" href="#content" target="_self"><span data-lang="en" lang="en">Skip to content</span><span data-lang="zh" lang="zh-CN">跳转到正文</span></a>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main">
      {% include sidebar.html %}

      <main id="content" class="page" tabindex="-1">
      <article itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
      </main>
    </div>

    {% include scripts.html %}

  </body>
</html>
